<div class="grid p-fluid flex justify-content-center align-items-center" id="login-container">
    <div class="col-3 shadow-4 flex flex-column justify-content-center align-items-center border-round-md p-5">
        <p class="flex align-items-center text-xl">
            <img src="../../assets/logo-marco.jfif" class="mr-2" width="40" height="40" alt="">
            Iniciar Sesión
        </p>
        <small class="text-xs">Ingrese sus credenciales de usuario</small>
        
        <div class="flex flex-column justify-content-center align-items-center mt-3">
            <form>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input class="p-inputtext-sm" type="email" pInputText placeholder="Usuario">
                </div>
                <div class="p-inputgroup mt-3">
                    <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input class="p-inputtext-sm" type="password" pInputText placeholder="Contraseña">
                </div>
                <div class="grid flex justify-content-center align-items-center mt-3">
                    <div class="col-5">
                        <button type="submit" pButton class="p-button-sm" style="background-color: #042342; border-color: #042342;">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
